:root {
  --main-color: #0046be;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
a,
button:hover {
  cursor: pointer;
}
#thriftyTitle {
  margin-left: 10px;
  font-size: 40px;
}
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  background-color: var(--main-color);
  height: 80px;
  z-index: 10000;
}

.navbarDiv {
  display: flex;

  width: 100vw;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.navbarDiv a {
  color: white;
  text-decoration: none;
  font-size: xx-large;
}
.navbarDiv input {
  font-size: large;
  border: none;
  height: 40px;
  width: 310px;
  border-radius: 5px;
}
.menu-button {
  display: none;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  border: none;
  font-size: larger;
  margin-left: 50px;
}

.navForm {
  display: flex;
  margin-left: 100px;
  margin-right: auto;
  position: relative;
}
input[type="search"] {
  border: none;
}
input[type="search"]::placeholder {
  color: #bbb;
}
button[type="submit"] {
  background-color: white;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 5px;
  border: none;
}
.thriftImageDiv {
  margin-top: 120px;
  width: 100%;
  height: 400px;
  position: relative;
}
.thriftImageDiv img {
  width: 100%;
  opacity: 50%;
  height: 100%;
}
.shopText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 300px;
  font-weight: 900;
  opacity: 40%;
}
#navbarList {
  display: flex;
  list-style: none;
}
#navbarList ul {
  padding: 0;
}

#navbarList li {
  margin: 10px;
  font-size: 17px;

  transition: 500ms;
}

#navbarList li:hover {
  opacity: 50%;
  cursor: pointer;
  transition: 500ms;
  text-decoration: underline;
}

.greetingDiv {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: #888; */
  color: var(--main-color);
}

.greetingDivContent {
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: center;
}
.greetingDivContent p {
  color: #888;
  margin-top: 0;
  font-size: large;
  max-width: 300px;
}
.shopGenreContainers {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}
.shopGenres {
  max-width: 400px;
  text-align: center;
  border-radius: 5px;
  color: var(--main-color);
  transition: 0.5s;
}
.shopGenres img {
  width: 100%;
  border-radius: 5px;
}
.shopGenres img:hover {
  cursor: pointer;
  opacity: 80%;
}
.shopGenres:hover {
  scale: 1.01;
  transition: 0.5s;
}
.shirtsPage {
  margin-top: 99px;
}
/*  */
/*  */

@media (max-width: 900px) {
  .navbar {
    width: 100%;
    height: fit-content;
  }
  .navbar ul {
    padding: 0;
  }
  .navbarDiv {
    flex-direction: column;
  }
  .navForm {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #888;
  }

  .thriftImageDiv {
    margin-top: 150px;
    height: 200px;
  }
  .shopText {
    font-size: 60px;
    opacity: 50%;
  }
  #searchButton {
    display: none;
  }
  .shopGenreContainers {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
  }
  .shopGenres img {
    width: 60%;
  }
  .shopGenres {
    margin-top: 60px;
  }
}

@media (min-width: 900px) {
  .greetingDivContent p {
    color: #888;
    margin-top: 0;
    font-size: 25px;
    max-width: 500px;
  }
}
